SECRET_KEY=your-secret-key-here
JWT_SECRET_KEY=your-jwt-secret-key-here
YOUTUBE_API_KEY=your-youtube-api-key-here

MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/tut0hub?retryWrites=true&w=majority
MONGODB_DBNAME=tut0hub

MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USE_SSL=False
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password
MAIL_DEFAULT_SENDER=your-email@gmail.com

RECAPTCHA_PUBLIC_KEY=your-recaptcha-public-key
RECAPTCHA_PRIVATE_KEY=your-recaptcha-private-key
